\.idea
*.pyc
odoo-web-data
odoo
postgresql
etc/filestore
etc/addons
etc/sessions
etc/odoo-server.log
db-erp
__pycache__
wkhtmltox*.deb*
docker-compose.yml
etc/odoo.conf
odoo-web-data/sessions
odoo-web-data/filestore
